* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    background-image: url('/src/assets/desktop-bg-comp.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

/*
@media (max-width: 768px) {
    #root {
        background-image: url('/src/assets/Desktop\ -\ 1.png');
        }
    }

@media (min-width: 768px) {
    #root {
        background-image: url('/src/assets/Desktop\ -\ 2.png');
        }
    } 
*/

h1, h2, p, a {
    color: #8B1D0F;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.logo-wrapper {
    position: relative;
    width: 75vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloomhaus-logo {
    /* display: none; */
    width: 100%;
    height: auto;

    
    /* filter: invert(18%) sepia(44%) saturate(3000%) hue-rotate(330deg) brightness(75%) contrast(90%); */
    /* fill: #800020; */

    filter: 
    brightness(0) saturate(100%)            /* make it pure black first */
    invert(12%) sepia(95%) saturate(3543%)  /* push toward burgundy */
    hue-rotate(356deg) brightness(80%) contrast(90%)
    drop-shadow(0 8px 2px rgba(0, 0, 0, 0.25));


    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;

}

.band-yellow {
   
    /* display: none; */   
    width: 100%;
    height: auto;

    position: relative;
    z-index: 5;
}

.navbar {
    /* display: none; */
    
    font-family: 'Instrument Serif', serif;
    width: 68%;
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
    
    font-size: 1.25rem;

}

