* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    background-image: url('/public/assets/desktop-bg-comp.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

h1, h2, p, a {
    color: #8B1D0F;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

}

.logo-wrapper {
    position: relative;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    left: 5vw;
}

.bloomhaus-logo {
    /* display: none; */
    width: 100%;
    height: auto;

    
    /* filter: invert(18%) sepia(44%) saturate(3000%) hue-rotate(330deg) brightness(75%) contrast(90%); */
    /* fill: #800020; */

    /*
    filter: 
    brightness(0) saturate(100%)          
    invert(12%) sepia(95%) saturate(3543%) 
    hue-rotate(356deg) brightness(80%) contrast(90%)
    drop-shadow(0 8px 2px rgba(0, 0, 0, 0.25));*/


    position: absolute;
    top: 10vh;
    left: 0;

    z-index: 10;

}

.band-yellow {
   
    /* display: none; */   
    width: 75vw;
    height: auto;
    top: 20vh;
    position: relative;
    z-index: 5;
}

.navbar {
    /* display: none; */
    position: relative;
    font-family: 'Instrument Serif', serif;
    gap: 15vw;
    z-index: 10;
    margin-top: 7rem;
    display: flex;
    justify-content:center;
    font-size: 1.25rem;
}

.navbar a:hover {
    font-weight:600;
    cursor:pointer;
}
.socials {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 10;
    /* background-color:#73190d; */
}

.socials a {
    font-size: 1.2rem;
    /* filter: brightness(0) invert(1); */
}

.socials a:hover {
    font-weight:600;
}

.flowers-transp {
    z-index: 1;
    position: fixed;
    top: 35vh;
    left: -25vw;
    width: 100vw;
    height: auto;
    display: none;
}

@media (orientation: landscape) {
    .logo-wrapper {
        flex-direction: row-reverse;
}
    
    .bloomhaus-logo {   
        top: -2vh;
        width: 80vw;
        height: auto;
        left: 5vw;
    }

    .band-yellow {
        
        top: 25vh;
        width: 35vw;
        height: auto;
        right: -4vw;
        
        }
    
    .flowers-transp {
        display: flex;
        }
    }

    .navbar {
        gap: 5vw;
        /*left: -5vw;*/
        top: 10vh;
    }

    .socials {
        justify-content: right;
        padding-right: 15vw;
    }
@media (max-width: 270px) {
    .navbar {
        flex-direction: column;
    }
}


@media (max-height: 600px) {
  .bloomhaus-logo {
        top: -2vh;
        width: 60vw;
        height: auto;
        left: 15vw;
  }
}